@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    background-color: #fdfaf3;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.header {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}
.name-heading {
  margin: 0;
  border-right: 2px solid black;
  width: 288px;
  padding: 12px;
}
.resume-heading {
  margin: 0;
  border-left: 2px solid black;
  width: 140px;
  padding: 12px;
}
.big-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left {
    background-color: #ffeed8;
  width: 60%;
  border-right: 2px solid black;
}
.right {
  width: 40%;
}
.small-box1{
    padding: 16px;
}
.small-box2{
    padding: 16px;
}
.small-box3{
    padding: 16px;
}
.small-box4{
    padding: 16px;
    display: flex;
  justify-content: space-between;
} 
.small-box5{
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
 
  

.flex-div {
  display: flex;
}

.capsule {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 50px;
  background-color: #fdfaf3;
  
}